*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: hsl(240, 2%, 23%);
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* Layout Initialization */
body {
  height: 100%;
  font-family: "DM Serif Display", serif;
}

main {
  /*jarak antara navbar sama content */
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
  z-index: 1;
}


/* MAIN NAVBAR */
nav {
  width: 100vw;
  height: 4rem;
  /* positioning */
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 5;
  transition: all ease-in-out 150ms;
}

nav > img {
  height: 2.5rem;
}

nav.scrolled {
  backdrop-filter: blur(20px);
}

/* MAIN CONTENT HEADER */
#header-invitation {
  width: 100%;
  min-height: 110vh;
  background: url(assets/images/header/background-header.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  /* layouting */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem;
}

#header-invitation .wrap {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#header-invitation .wrap > img {
  width: 25vw;
}

.header-description {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  align-items: flex-start;
}

.header-description h1 {
  font-size: 3rem;
  color: white;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff;
  font-style: italic;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid white;
}

.pensi-smak1 {
  display: flex;
  flex-direction: column;
}

.header-description .pensi-smak1 p {
  font-size: 1.25rem;
  color: white;
  font-weight: 800;
  font-style: italic;
  line-height: 100%;
}

.header-description .pensi-smak1 h2 {
  font-size: 5.2rem;
  color: white;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.1rem;
  line-height: 95%;
  text-shadow:
    0 0 7px #fff,
    0 0 12px #fff,
    0 0 20px #fff;
}

.header-description > img {
  width: 5rem;
}

.header-logos {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.header-logos img {
  width: 7rem;
}

.header-description > a {
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #1ae7f2, #2243ba);
  border-radius: 1rem;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(237, 237, 242, 0.2) 0px 7px 29px 0px;

  font-size: 1rem;
  font-weight: 800;
  color: white;
}

.header-description > a:hover {
  scale: 1.05;
  background: linear-gradient(105deg, #1ae7f2, #2243ba);
}


/* GUESTSTAR INFORMATION */
#guests-showcase {
  width: 100%;
  padding: 2rem 8vw;
  display: flex;
  align-items: stretch;
  gap: 2rem;
  background-color: #cfd4ff;
}

.guest-tile {
  background-color: #7d76ff;
  padding: 1.5rem;
  border-radius: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  transition: scale 200ms ease-in-out;
}

.guest-tile:hover {
  scale: 1.025;
}

.guest-tile h3 {
  color: white;
  text-shadow:
    0 0 7px #fff;
  font-size: 2rem;
}

.guest-tile > img {
  width: 35vw;
  aspect-ratio: 5/3;
  object-fit: cover;
  border-radius: 1rem;
}

.tulus img:nth-child(3) {
  width: 13.75rem;
  height: 2.5rem;
  border-radius: 0;
}

#essential-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 8vw;
  background-color: #cfd4ff;
  gap: 2rem;
}

.wrapper-embed-maps {
  flex: 1;
}
.embed-maps {
  width: 40vw;
  aspect-ratio: 3/2;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 1.25rem;
}
.info-container > h4 {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  padding-bottom: 1rem;
}
.sesi {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sesi div {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.sesi div p {
  font-size: 1.125rem;
}
.sesi div p span {
  font-size: 1.5rem;
  font-weight: 700;
}

.location {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.location svg {
  width: 2rem;
  height: 2rem;
}
.location div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.1rem;
}
.location div h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.date {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.date p {
  font-size: 1.5rem;
  font-weight: 700;
}

#essential-info .info-container > a {
  padding: 1rem 2rem;
  background-color: #7d76ff;
  border-radius: 1rem;
  font-weight: 900;
  transition: all 200ms ease-in-out;
  color: #fff;
}
#essential-info .info-container > a:hover {
  scale: 1.05;
}

.info-container div svg {
  width: 2rem;
  height: 2rem;
}

audio {
  display: none;
}



@media screen and (max-width: 768px) {
  #header-invitation {
    min-height: 100vh;
  }
  #header-invitation .wrap > img {
    width: 35vw;
  }
  .header-description {
    gap: 1.5rem;
  }
  .header-description h1 {
    font-size: 2.5rem;
  }
  .header-description .pensi-smak1 p {
    font-size: 1.2rem;
  }
  .header-description .pensi-smak1 h2 {
    font-size: 4.6rem;
  }
  #guests-showcase {
    flex-direction: column;
    align-items: center;
  }
  .guest-tile > img {
    width: 75vw;
  }
  .tulus img:nth-child(3) {
    margin-top: 0rem;
  }

  #essential-info {
    flex-direction: column;
    align-items: center;
  }
  .embed-maps {
    width: 90vw;
  }
  .info-container {
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  #header-invitation .wrap {
    flex-direction: column;
    align-items: center;
  }

  #header-invitation .wrap > img {
    width: 70vw;
  }
  .header-description {
    align-items: center;
  }
  .pensi-smak1 {
    align-items: center;
  }

  .guest-tile h3 {
    font-size: 1.5rem;
  }
  .description-dblouse img {
    width: 3rem;
  }
  .description-dblouse p {
    font-size: 1.5rem;
  }
  .tulus img:nth-child(3) {
    width: 11rem;
    height: 2rem;
    border-radius: 0;
  }
}



